/* // Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming */
/* @import "@angular/material" as mat; */
@import "tailwindcss" important;
/* html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Mulish,
      density: 0,
    )
  );
} You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
*, *::after, *::before{
  outline: 0;
  margin: 0;
  padding:0;
}
body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}
